<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" >
    <head>
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="../css/flexslider.css" type="text/css"/>
        <link href="../css/styles.css?v=1.6" rel="stylesheet"/>
        <link href="../css/queries.css?v=1.6" rel="stylesheet"/>
        <link href="../css/jquery.fancybox.css" rel="stylesheet"/>
        <title>TripFunding - Pagina Inicial</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h:form>
            <ui:composition template="../mainTemplate.xhtml">
                <ui:define name="top-image">
                    <img alt="Brand" src="../img/leter_logo.png" style="max-width: 250px; margin: 15px;" />
                </ui:define>
                <ui:define name="left">  
                    <div id="sidebar-wrapper">                  
                        <h:form>
                            <h:panelGrid style="margin-top: 10px; margin-left: auto; margin-right: auto;">
                                <h:link style="color: gray; margin-top: 10px; font-size: 130%;" outcome="home" value="Pagina Inicial"/>
                                <h:link style="color: gray; margin-top: 10px; font-size: 130%;" outcome="mytrips" value="Minhas Viagens"/>
                                <h:link style="color: gray; margin-top: 10px; font-size: 130%;" outcome="searchtrips" value="Procurar Viagens"/>
                            </h:panelGrid>
                        </h:form>
                    </div>
                </ui:define>
                <ui:define name="content">
                    <div class="row">
                      <div class="text-center">
                        <p>Seja Bem Vindo ao Sistema de Financiamento Coletivo que te fará viajar pelo Mundo</p>
                      </div>
                    </div>
                </ui:define>
            </ui:composition>
        </h:form>
    </body>
</html>
