<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <head>
        <title>TripFunding</title>
    </head>
    <body>
        <h:form>
            <ui:composition template="../mainTemplate.xhtml">
                <ui:define name="top-image">
                    <img alt="Brand" src="../img/leter_logo.png" style="max-width: 250px; margin: 15px;" />
                </ui:define>
                <ui:define name="left">  
                    <div id="sidebar-wrapper">                  
                        <h:form>
                            <h:panelGrid style="margin-top: 10px; margin-left: auto; margin-right: auto;">
                                <h:link style="color: gray; margin-top: 10px; font-size: 130%;" outcome="home" value="Pagina Inicial"/>
                                <h:link style="color: gray; margin-top: 10px; font-size: 130%;" outcome="mytrips" value="Minhas Viagens"/>
                                <h:link style="color: gray; margin-top: 10px; font-size: 130%;" outcome="searchtrips" value="Procurar Viagens"/>
                            </h:panelGrid>
                        </h:form>
                    </div>
                </ui:define>
                <ui:define name="content">
                    <h:form style="margin: auto;">
                        <h:panelGrid columns="2" style="margin: auto;" >                        
                            <h:outputLabel for="idUser" value="Usuário:"/>
                            <h:inputText id="idUser" value="#{tripBean.newTripCity}" style="width: 200px; height: 25px; margin: 10px;" />
                            
                            <h:outputLabel for="idCountry" value="País:"/>
                            <h:selectOneMenu id="idCountry" value="#{tripBean.newTripCountry}" style="width: 200px; height: 25px; margin: 10px;">
                                <f:selectItems value="#{tripBean.countries}" var="country" /> 
                            </h:selectOneMenu>
                            <h:commandButton value="Buscar" />
                        </h:panelGrid>
                    </h:form>      
                </ui:define>
            </ui:composition>
        </h:form>        
    </body>
</html>
