<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" >
    <head>
        <title>TripFunding</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h:form>
            <ui:composition template="../mainTemplate.xhtml">
                <ui:define name="top-image">
                    <img alt="Brand" src="../img/leter_logo.png" style="max-width: 250px; margin: 15px;" />
                </ui:define>
                <ui:define name="left">  
                    <div id="sidebar-wrapper">                  
                        <h:form>
                            <h:panelGrid style="margin-top: 10px; margin-left: auto; margin-right: auto;">
                                <h:link style="color: gray; margin-top: 10px; font-size: 130%;" outcome="home" value="Pagina Inicial"/>
                                <h:link style="color: gray; margin-top: 10px; font-size: 130%;" outcome="mytrips" value="Minhas Viagens"/>
                                <h:link style="color: gray; margin-top: 10px; font-size: 130%;" outcome="searchtrips" value="Procurar Viagens"/>
                            </h:panelGrid>
                        </h:form>
                    </div>
                </ui:define>
                <ui:define name="content">
                    <h:form id="form" style="margin: auto; min-width: 100px; max-width: 500px;">
                        
                        <div class="ui-grid ui-grid-responsive">
                            <div class="ui-grid-row">
                                <p:dataList value="#{tripBean.loggedUserTrips}" var="trip" type="unordered" itemType="none" paginator="true" rows="5" styleClass="paginated">
                                    <f:facet name="header">
                                        Viagens Registradas
                                    </f:facet>
                                    <p:commandLink update=":form:tripDetail" oncomplete="PF('tripDialog').show()" title="View Detail" styleClass="ui-icon ui-icon-search" style="float:left;margin-right:10px">
                                        <f:setPropertyActionListener value="#{trip}" target="#{tripBean.selectedTrip}" />
                                        <h:outputText value="#{trip.country.countryName}, #{trip.city.cityName}" />
                                    </p:commandLink>
                                    <h:outputText value="#{trip.country.countryName}, #{trip.city.cityName}" style="display:inline-block"/>
                                </p:dataList>
                            </div>
                            <div class="ui-grid-row" style="margin: 5px;">
                                <h:commandButton value="Nova Viagem" action="addtrip"></h:commandButton>
                            </div>
                            <p:dialog header="Infos" widgetVar="tripDialog" modal="true" showEffect="blind" hideEffect="explode" resizable="false">
                                <p:outputPanel id="tripDetail" style="text-align:center;">
                                    <p:panelGrid  columns="2" rendered="#{not empty tripBean.selectedTrip}" columnClasses="label,value">

                                        <h:outputLabel style="color: black;" value="Pais:" />
                                        <h:outputText value="#{tripBean.selectedTrip.country.countryName}" />

                                        <h:outputLabel style="color: black;" value="Cidade:" />
                                        <h:outputText value="#{tripBean.selectedTrip.city.cityName}" />

                                        <h:outputLabel style="color: black;" value="Total de Apoios:" />
                                        <h:outputText value="R$ #{tripBean.selectedTripAllBackValue}" />
                                    </p:panelGrid>
                                    <h:commandButton value="Apoiar" action="backtrip" />
                                </p:outputPanel>
                            </p:dialog>   
                        </div>
                    </h:form>
                </ui:define>
            </ui:composition>
        </h:form>        
    </body>
</html>
