<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <head>
        <title>TripFunding - Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
    </head>
    <h:body>
        <ui:composition template="./formTemplate.xhtml">
            <ui:define name="content">
                <h:form>
                    <h:panelGrid class="login-panel">
                        <h:outputLabel id="user" value="Usuario: " for="idUsuario" />
                        <h:inputText value="#{loginBean.login}" id="name" required="true"/>
                        <h:outputLabel id="pass" value="Senha: " for="idSenha"/>
                        <h:inputSecret value="#{loginBean.password}" id="password" required="true" />
                        <h:commandButton class="login-button" id="submit" value="Login" action="#{loginBean.validateLogin()}" />
                        Sem cadastrado? <br/>
                        <h:link value="Clique aqui." outcome="#{userBean.newUser()}" />
                    </h:panelGrid>
                    <h:messages id="loginMessage" errorStyle="color:red; font-size:x-large" showDetail="true"/>                    
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>