<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <link href="css/bootstrap.min.css" rel="stylesheet"/>
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>
        <link href="css/simple-sidebar.css" rel="stylesheet" />
        <link href="../css/simple-sidebar.css" rel="stylesheet" />
        <title>TripFunding - O Sistema de Financiamento Coletivo que te fará viajar pelo Mundo!</title>
    </h:head>

    <h:body>

        <div id="top">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                     <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                         
                        <ui:insert name="top-image" />
                        
                      </div>
                </div>      

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Minha Conta<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Perfil</a></li>
                                <li><a href="#">Dados Cadastrais</a></li>
                                <li role="separator" class="divider"></li>
                                <li><h:form><h:commandLink style="color: black; margin-left: 14%;" value="Logout" action="#{loginBean.logout()}"/></h:form></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div>
            <div id="left">
                <ui:insert name="left" />
            </div>
            <div id="content" class="left_content">
                <ui:insert name="content" />
            </div>
        </div>
    </h:body>
</html>
